#container {
    display: flex;
    height: 100vh;
}

#map {
    flex: 1;
    height: 100%;
}

#sidebar {
    width: 350px;
    padding: 20px;
    overflow-y: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 5px;
}

.weight-input {
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

p {
    margin: 0;
}

button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: rgb(249,250,251);
}

button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

button:focus-visible {
    box-shadow: none;
}

input[type="checkbox"] {
    accent-color: white;
    background-color: white; /* fallback for old browsers */
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Simple CSS spinner */
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #6c6c6c;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
